<!DOCTYPE html>
<html>

<head>
    <title>JJS: {{~> screen_name}}</title>
</head>

<body>
    <header>
        <a href="/">index</a>
        |

        {{#if common.auth.is_user}}
        <a href="/submit">submit</a>
        |
        {{common.auth.d.User.login}}(<a href="/logout">logout</a>)
        {{/if}}
        {{#if common.auth.is_guest}}
        <a href="/login">login</a>
        {{/if}}
    </header>
    <br />
    <div id=page>
        {{~> page}}
    </div>
    <footer>
        ----------------------------------<br />
        JJS v{{common.jjs_version}}
    </footer>
</body>
<!-- {{{common.debug_info}}}  -->

</html>