{{#* inline "screen_name"}}
    submit
{{/inline}}
{{#* inline "page"}}
    <form action="/submit" method="post" enctype="multipart/form-data">
        <label>
            toolchain: <input type="text" name="toolchain"/>
        </label>
        <br/>
        <label>
            file: <input type="file" name="code"/>
        </label>
        <br/>
        <input type="submit" title="submit">
    </form>
{{/inline}}

{{~> base ~}}