[package]
name = "db"
version = "0.1.0"
authors = ["Mikail Bagishov <bagishov.mikail@yandex.ru>"]
edition = "2018"

[dependencies]
diesel = { git = "https://github.com/diesel-rs/diesel", rev = "8cad08f", default-features = false, features = ["postgres", "uuid", "r2d2", "serde_json"] }
serde = { version = "1.0.104", features = ["derive"] }
uuid = { version = "0.7.4", features = ["serde", "v4"] }
r2d2 = "0.8.8"
invoker-api = {path = "../invoker-api"}
bincode = "1.2.1"
anyhow = "1.0.26"
serde_json = "1.0.44"