[package]
name = "db"
version = "0.1.0"
authors = ["Mikail Bagishov <bagishov.mikail@yandex.ru>"]
edition = "2018"

[dependencies]
diesel = { version = "1.4.3", features = ["postgres", "uuidv07", "r2d2"] }
serde = { version = "1.0.103", features = ["derive"] }
uuid = { version = "0.7.4", features = ["serde", "v4"] }
r2d2 = "0.8.7"
invoker-api = {path = "../invoker-api"}
bincode = "1.2.1"
anyhow = "1.0.25"
