[Unit]
Description=JJS invoker
Requires=postgresql.service
After=postgresql.service

[Service]
Type=notify
Environment=JJS_DATA=/var/lib/jjs JJS_SD_NOTIFY=1
EnvironmentFile=/var/lib/jjs/etc/env.txt
User=root
Group=root
ExecStart={{ jjs_sysroot }}/bin/jjs-invoker

[Install]
WantedBy=multi-user.target
